# Environment variables & secrets
.env
.env.*
!.env.example
.secrets/

# Dependencies
node_modules/

# Build output
.next/
out/
dist/
build/

# Foundry
cache/
broadcast/
contracts/broadcast

# Python
__pycache__/
.venv/

# OS
.DS_Store
*.log
*.png
!img/*.png

# Editors / tooling
.vscode/
.idea/
.commandcode/
